@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

body {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    border-bottom: 1px solid #517dae;
}

ul li,
ol li {
    padding: 1em;
    list-style-position: inside;
}

span#question {
    font-weight: 500;
}

ol.answers {
    padding-left: 10px;
    list-style: upper-alpha;
}

ol.answers li:hover {
    border: 0.1em solid #517dae;
    background-color: #d5e4f7;
    padding: 0.9em;
    cursor: pointer;
}

#section-correct-answer {
    display: none;
}

span#correct-answer {
    font-weight: 500;
    color: rgb(82, 75, 178);
}

#main {
    padding: 0 1.5em;
}

.section {
    margin-top: 3em;
}